
header{
    
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
}

.boxLogo{
   
    width: 23vw;
    display: flex;
    color: white;
    align-items: center;
    height: 14vh;
    justify-content: space-evenly;
}

.boxMenu{
    
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: white;
        }
    }
}

.boxInput{
    border: solid 2px white;
    width: 17vw;
    height: 6vh;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    input{
        width: 12vw;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 15px;
        &::placeholder{
            color: white;
        }
    }
}

@media(max-width: 1134px){

    .boxLogo{
        
        width: 25vw;
        h1{
            font-size: 1.9vw;
        }
        img{
            width: 5vw;
        }
    }

    .boxMenu{
        
        ul{   
            font-size: 1.7vw;
        }
    }

    .boxInput{
        width: 18vw;
        input{
        &::placeholder{
          font-size: 1.2vw;
        }
    }
    }
}

@media(max-width: 760px){
    header{
        height: 25vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .boxInput{
        display: none;
    }
    .boxLogo{
        width: 80%;
        
        h1{
            font-size: 25px;
        }
        img{
            width: 60px;
        }
    }

    .boxMenu{
        width: 100%;
        ul{
            justify-content: space-evenly;
            font-size: 22px;
        }
    }
}