footer{
    height: 30vh;
}

.boxSocial{
    background-color: rgba(0, 86, 149, 1);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    nav{
       width: 18vw;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
}

.boxEnd{
    background-color: rgba(35, 32, 32, 1);
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}