
.boxDoados{
 
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.boxcard{
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
        border: solid 2px #005695;
        width: 15vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
}